<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/@Model.HINH" alt="Hình ảnh sản phẩm" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h4>@Model.TENSP</h4>
        <p>Gía: @Model.GIA</p>
        <p>Số lượng: @Model.SOLUONGTON</p>
        <p>Mô tả: @Model.MOTA</p>
        <!-- Thêm các thông tin khác của sản phẩm -->
    </div>
</div>
